

footer {
	overflow-x: hidden;
   max-width: 100%;
   min-width: 100%;
    color: white;
    background: black;
    right: 220px;
    padding: 10px;
    text-align: center;
    height: 50px;

 }
#container_footer a{
	color: white;
    
	
}