#head{
    text-align: right;
    display: flex;
    flex-direction: column;
    flex: space-around;
    align-content: right;
    height: fill;
    min-height: 100px;
    width: 85%;
    min-width: 50%;
    background-color: #EDF3FB;
     width: 100%;
}

/* Media Query: iPad (Vertical), starting from 768px */

@media(max-width: 768px) {
    body {
        width: 100vw;
        height: 100vh;
    }
    
}


/* Small mobile: iPhone */

@media(max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }
    body {
        height: 100vh;
        width: 100vw;
        /* To keep lines/rows tight together */
        /* line-height: 15px; */
        font-size: 16px;
    }
    #middle-page {
        margin-bottom: 80px;
    }
    
    
    
    
}