

/* index page */

#content {
    background: #FFFFFF;
}

.gbaf-description {
    font-family: 'Montserrat', sans-serif;
    background-color: #EDF3FB;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin: 20px;
}

.gbaf-description h1 {
    text-align: center;
}

.h2-acteurs {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin: 30px 50px;
    color: black;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bolder;
    word-spacing: 0.2rem;
}

.h2-acteurs:hover {
    transform: translateY(5px);
}

.gbaf-description ul {
    list-style: disc;
    padding-left: 20px;
}

.gbaf-description ul li {
    margin-left: 80px;
}

.gbaf-description p {
    font-family: 'Lato', sans-serif;
    margin: 10px 0;
    text-indent: 30px;
}

#middle-page {
    margin: 30px 30px 100px;
    flex-direction: row;
    justify-content: center;
}

.card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
    margin: 30px 50px;
    background-color: #EDF3FB;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transition: 0.3s;
    border: 2px solid black;
}

.card-image {
    position: relative;
    width: 400px;
    height: 130px;
    border-color: black;
}

.card img {
    border-radius: 5px;
    position: absolute;
    height: auto;
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-content {
    padding: 2px 16px;
}

.card .card-link {
    border: 0;
    padding: 10px 30px;
    margin: 10px 20px 10px 0;
    float: right;
    background-color: transparent;
    border: 1px solid var(--color-1);
    text-decoration: none;
    border-radius: 24px;
    color: black;
}

.card .card-link:hover {
    background-color: var(--color-1);
    color: #4CA2F1;
}

.card .card-link:focus {
    outline: none;
}


/* Single acteur page */

p {
    font-family: 'IBM Plex Serif', serif;
    padding: 10px 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    font-size: 2rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    margin: 20px;
    font-size: 1.5rem;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
    font-size: 1.2rem;
}



/* Media Query: iPad (Vertical), starting from 768px */

@media(max-width: 768px) {
    body {
        width: 100vw;
        height: 100vh;
    }
    .header .nav ul {
        margin: 10px;
    }
    .card-image {
        max-width: 200px;
        margin-top: 60px;
    }
    .card {
        grid-template-columns: 1fr 2fr;
    }
    .comment-form,
    .form-box {
        background-color: transparent;
        box-shadow: none;
        border: none;
        padding-top: 50px;
    }
    .alert-success {
        position: relative;
        top: 50%;
        left: 25%;
        width: 50%;
        padding: 10px 0;
        margin: 10px;
        background-color: green;
        border-radius: 26px;
        color: white;
        text-align: center;
    }
    .alert-danger {
        position: relative;
        top: 50%;
        left: 25%;
        width: 50%;
        padding: 10px 0;
        margin: 10px;
        background-color: red;
        border-radius: 26px;
        color: white;
        text-align: center;
    }
}


/* Small mobile: iPhone */

@media(max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }
    body {
        height: 100vh;
        width: 100vw;
        /* To keep lines/rows tight together */
        /* line-height: 15px; */
        font-size: 16px;
    }
    #middle-page {
        margin-bottom: 80px;
    }
    .nav-toggler {
        display: flex;
    }
    .header .nav {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background-color: var(--color-1);
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        opacity: 0;
        visibility: hidden;
    }
    .header .nav a {
        margin-left: 20px;
    }
    .header .nav ul li {
        display: block;
        margin: 0;
    }
    .header #nav-check:checked~.nav {
        opacity: 1;
        visibility: visible;
    }
    .header #nav-check:focus~.nav-toggler {
        box-shadow: 0 0 15px #000000;
    }
    .header #nav-check:checked~.nav-toggler span {
        background-color: transparent;
    }
    .header #nav-check:checked~.nav-toggler span::before {
        top: 0;
        transform: rotate(45deg);
    }
    .header #nav-check:checked~.nav-toggler span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    .card {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2.5fr;
        margin: 20px 30px;
    }
    .card-image {
        text-align: center;
        width: 80%;
        height: auto;
        margin-top: 10px;
        margin-left: -70px;
        padding-top: 10px;
    }
    .post .post-image {
        width: 400px;
        height: auto;
    }
    .username {
        margin-top: 10px;
        margin-left: -15px;
    }
    /* How to put username under the logo */
    .logo-user {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin-left: 50px;
        padding: 15px;
    }
    .comment-form,
    .form-box {
        background-color: transparent;
        box-shadow: none;
        border: none;
        padding: 0;
        margin-bottom: 150px;
    }
    .comment-list {
        align-items: center;
        padding: 50px;
    }
    select,
    .form-box input[type="text"],
    .form-box input[type="password"],
    .comment-form input[type="text"],
    .comment-form input[type="date"],
    textarea {
        width: 200px;
    }
    select:focus,
    textarea:focus,
    .form-box input[type="text"]:focus,
    .form-box input[type="password"]:focus,
    .comment-form input[type="text"]:focus,
    .comment-form input[type="date"]:focus {
        width: 250px;
        border-color: #189AB4;
    }
    .alert-danger {
        position: relative;
        top: 50%;
        left: 18%;
        width: 60%;
        padding: 10px 0;
        margin: 10px;
        background-color: red;
        border-radius: 26px;
        color: white;
        text-align: center;
    }
    .alert-success {
        position: relative;
        top: 50%;
        left: 18%;
        width: 60%;
        padding: 10px 0;
        margin: 10px;
        background-color: green;
        border-radius: 26px;
        color: white;
        text-align: center;
    }
}